{% extends "base.html" %}
​
{% load bootstrap4 %}
​
{% block content %}
  <form method="post">
      {% csrf_token %}
        <p><center>
            Are you sure you want to delete movie "{{ object.title }}" from the database?
        </center></p>
        <div class="btn-group btn-block" role="group" aria-label="Delete decision">
            <button type="submit" class="btn btn-success">Yes</button>
            <button type="button" onclick="history.go(-1);" class="btn btn-danger">No</button>
        </div>
  </form>
{% endblock %}